<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{admin_page_test/admin_layout/layout.html}" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>공지사항 관리</title>
    <script src="/js/notice.js" defer></script>
</head>

<body>
<div layout:fragment="content" class="p-4">

    <h2>📢 공지사항 관리</h2>

    <form method="post" id="noticeForm">
        <input type="text" name="title" id="title" class="form-control mb-2" placeholder="제목" />
        <input type="text" name="author" id="author" class="form-control mb-2" placeholder="작성자" />
        <textarea name="content" id="content" class="form-control mb-2" placeholder="내용"></textarea>

        <div class="mb-2">
            <input type="file" name="files" class="form-control" onchange="handleFileInputChange(this)">
        </div>

        <div class="form-check mb-2">
            <input type="checkbox" class="form-check-input" id="showPopup" name="showPopup" />
            <label class="form-check-label" for="showPopup">팝업 표시</label>
        </div>

        <label>팝업 시작일</label>
        <input type="datetime-local" name="popupStart" id="popupStart" class="form-control mb-2" />

        <label>팝업 종료일</label>
        <input type="datetime-local" name="popupEnd" id="popupEnd" class="form-control mb-2" />

        <button id="addNoticeBtn" type="button" class="btn btn-primary">공지 추가</button>
    </form>

    <div id="noticeList" class="mt-4"></div>

</div>
</body>
</html>
