<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{admin_page_test/admin_layout/layout.html}" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Q&A 관리</title>
    <script src="/js/qna.js" defer></script>
</head>

<body>
<div layout:fragment="content" class="p-4">

    <h2>📨 Q&A 관리</h2>

    <table class="table table-bordered text-center">
        <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>질문</th>
            <th>내용</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>답변</th>
            <th>관리</th>
        </tr>
        </thead>
        <tbody id="qnaList">
        <!-- JS로 채움 -->
        </tbody>
    </table>

</div>
</body>
</html>
