<th:block th:fragment="headerFragment">
    <style>

        ul {
            padding-left: 10px;
        }

        .bus-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .bus-item {
            padding: 10px 15px;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .busRouteSpan {
            display: block;
            margin-top: 14px;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid d-flex justify-content-between align-items-center">

            <a class="navbar-brand" href="#">뻐어스</a>



            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/login" th:href="@{/login}">회원가입(로그인)</a>
                </li>
            </ul>

        </div>
    </nav>

    <script src="/js/searchBus.js"></script>
</th:block>
