<th:block th:fragment="sidebarFragment">
    <style>
        .sidebar-sticky {
            height: calc(100vh - 60px);
            overflow-y: auto;
        }

        #busStopList {
            margin-top: 20px;
        }

        #busStopList div {
            padding: 10px;
            border: 1px solid #ddd;
            margin-bottom: 5px;
        }
    </style>

    <div class="mt-3">
        <div style="color:white; flex-grow: 1; text-align: center;">
            <form id="searchForm">
                <input type="text" id="searchInput" placeholder="버스 번호/정류장 검색">
                <button type="button" onclick="searchBus()">검색</button>
            </form>
        </div>
    </div>

    <div class="position-sticky pt-3 sidebar-sticky" style="width: 320px;">
        <div id="busStopList"></div>
    </div>

    <script src="/js/searchBus.js"></script>
    <script src="/js/drawPolyline.js"></script>
<!--    <script src="/js/drawPolyline2.js"></script>-->
    <script src="/js/drawBusMarkers.js"></script>
</th:block>
