<th:block th:fragment="sidebarFragment">
    <style>
        .sidebar-sticky {
            height: calc(100vh - 60px);
            overflow-y: auto;
        }

        #busStopList {
            margin-top: 20px;
        }

        #busStopList div {
            padding: 10px;
            border: 1px solid #ddd;
            margin-bottom: 5px;
        }
    </style>

    <div class="position-sticky pt-3 sidebar-sticky" style="width: 320px;">
        <div id="busStopList"></div>
    </div>
</th:block>
