<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{custom_swagger/swagger_layout/layout.html}" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>커스텀 스웨거</title>
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swagger-ui-dist/swagger-ui.css" />-->
    <link rel="stylesheet" href="/webjars/swagger-ui/swagger-ui.css" />

</head>
<body>
<div layout:fragment="content">
    <div class="swagger-container">
<!--        <h1 style="text-align: center; margin: 10px">🧭 API 문서 - Swagger UI</h1>-->

        <!-- Swagger UI 들어가는 영역 -->
        <div id="swagger-ui"></div>
    </div>

    <!-- Swagger UI 스크립트 -->
<!--    <script src="https://cdn.jsdelivr.net/npm/swagger-ui-dist/swagger-ui-bundle.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/swagger-ui-dist/swagger-ui-standalone-preset.js"></script>-->
    <script src="/webjars/swagger-ui/swagger-ui-bundle.js"></script>
    <script src="/webjars/swagger-ui/swagger-ui-standalone-preset.js"></script>
    <script>
        console.log("🔥 Swagger 시작");

        const ui = SwaggerUIBundle({
            urls: [
                { url: "https://localhost:8081/v3/api-docs/all", name: "All" },
                { url: "https://localhost:8081/v3/api-docs/Bus", name: "Bus" },
                { url: "https://localhost:8081/v3/api-docs/Ad", name: "Ad" },
                { url: "https://localhost:8081/v3/api-docs/Board", name: "Board" },
                { url: "https://localhost:8081/v3/api-docs/LostFound", name: "LostFound" },
                { url: "https://localhost:8081/v3/api-docs/Qna", name: "Qna" },
                { url: "https://localhost:8081/v3/api-docs/Admin", name: "Admin" }
            ],
            urlsPrimaryName: "Bus", // ✅ 반드시 Bus로 맞춰야 함 (name 값과 동일)
            dom_id: '#swagger-ui',
            layout: "StandaloneLayout",
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIStandalonePreset
            ],
            deepLinking: true,
            docExpansion: "none",
            validatorUrl: null
        });

        // const ui = SwaggerUIBundle({
        //
        //     url: "https://localhost:8081/v3/api-docs/Bus",
        //     dom_id: '#swagger-ui',
        //     layout: "BaseLayout",
        //     presets: [
        //         SwaggerUIBundle.presets.apis,
        //         SwaggerUIStandalonePreset
        //     ],
        //     deepLinking: true,
        //     docExpansion: "none",
        //     validatorUrl: null // 🔥 이거 추가!
        //
        // });

        console.log("✅ Swagger 호출됨");
    </script>

</div>
</body>
</html>
